
<nav class="navbar navbar-expand-sm nav-color">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <button class="btn btn-outline-info me-2" (click)="list()">Booking-Details</button>
            <button class="btn btn-outline-primary me-2" (click)="create()">Book-Ticket</button>
            <h1 class="navbar-brand" style="color: aquamarine;margin-left: 18%;">Movie Ticket Management System</h1>
  
            <button class="btn btn-danger" style="margin-left: 35%;" (click)="logout()">Log out</button>
        </div>
    </div>
  </nav>
  
  
  